In [1]:
# library import
import os
import time
import numpy as np
import scipy as sp
import pandas as pd
import time

from datetime import datetime
from IPython.display import clear_output

## 필요 데이터 load

In [12]:
code_df_all = pd.read_html('http://kind.krx.co.kr/corpgeneral/corpList.do?method=download&searchType=13', header=0)[0]
code_df = code_df_all
code_df.head()

,회사명,종목코드,업종,주요제품,상장일,결산월,대표자명,홈페이지,지역
0,GS글로벌,1250,상품 종합 도매업,"수출입업(시멘트,철강금속,전기전자,섬유,기계화학),상품중개,광업,채석업/하수처리 서...",1976-06-26,12월,김태형,http://www.gsgcorp.com,서울특별시
1,HSD엔진,82740,일반 목적용 기계 제조업,"대형선박용엔진,내연발전엔진",2011-01-04,12월,고영열,http://www.doosanengine.com,경상남도
2,KG케미칼,1390,기초 화학물질 제조업,"콘크리트혼화제, 비료, 친환경농자재, 수처리제",1989-08-25,12월,김경묵,http://www.kgchem.co.kr,울산광역시
3,LG이노텍,11070,전자부품 제조업,기타 전자부품 제조업,2008-07-24,12월,정철동,http://www.lginnotek.co.kr,서울특별시
4,OCI,10060,기초 화학물질 제조업,"타르제품,카본블랙,무수프탈산,농약원제,석탄화학제품,정밀화학제품,플라스틱창호재 제조,판매",1985-07-09,12월,"백우석, 이우현, 김택중(3인, 각자 대표이사)",http://www.oci.co.kr,서울특별시

In [13]:
code_df.종목코드 = code_df.종목코드.map('{:06d}'.format)
code_df = code_df[['회사명','종목코드','업종']].rename(columns={'회사명':'name', '종목코드':'code', '업종':'type'})
code_df.head()

    name    code           type
0  GS글로벌  001250      상품 종합 도매업
1  HSD엔진  082740  일반 목적용 기계 제조업
2  KG케미칼  001390    기초 화학물질 제조업
3  LG이노텍  011070       전자부품 제조업
4    OCI  010060    기초 화학물질 제조업

In [22]:
aa = code_df.type
freq = np.unique(aa.values, return_counts=True)
list(map(list, zip(*freq)))

[['1차 비철금속 제조업', 20],
 ['1차 철강 제조업', 57],
 ['가구 제조업', 7],
 ['가전제품 및 정보통신장비 소매업', 1],
 ['가정용 기기 제조업', 10],
 ['가죽, 가방 및 유사제품 제조업', 5],
 ['개인 및 가정용품 임대업', 1],
 ['건물 건설업', 25],
 ['건물설비 설치 공사업', 3],
 ['건축기술, 엔지니어링 및 관련 기술 서비스업', 13],
 ['건축자재, 철물 및 난방장치 도매업', 1],
 ['경비, 경호 및 탐정업', 1],
 ['고무제품 제조업', 8],
 ['곡물가공품, 전분 및 전분제품 제조업', 8],
 ['골판지, 종이 상자 및 종이용기 제조업', 9],
 ['과실, 채소 가공 및 저장 처리업', 1],
 ['광고업', 8],
 ['교육지원 서비스업', 2],
 ['구조용 금속제품, 탱크 및 증기발생기 제조업', 20],
 ['귀금속 및 장신용품 제조업', 1],
 ['그외 기타 개인 서비스업', 1],
 ['그외 기타 운송장비 제조업', 3],
 ['그외 기타 전문, 과학 및 기술 서비스업', 8],
 ['그외 기타 제품 제조업', 7],
 ['금속 주조업', 4],
 ['금융 지원 서비스업', 70],
 ['기계장비 및 관련 물품 도매업', 23],
 ['기록매체 복제업', 2],
 ['기반조성 및 시설물 축조관련 전문공사업', 4],
 ['기초 의약물질 및 생물학적 제제 제조업', 32],
 ['기초 화학물질 제조업', 43],
 ['기타 과학기술 서비스업', 6],
 ['기타 교육기관', 1],
 ['기타 금속 가공제품 제조업', 23],
 ['기타 금융업', 87],
 ['기타 비금속 광물제품 제조업', 11],
 ['기타 비금속광물 광업', 1],
 ['기타 사업지원 서비스업', 7],
 ['기타 상품 전문 소매업', 2],
 ['기타 섬유제품 제조업', 3],
 ['기타 식품 제조업', 33],
 ['기타 운송관련 서비스업', 6],
 ['기타 전기장비 제조업', 7],
 ['기타 전문 도매업', 38],
 ['기타 전문 서비스업', 1],
 ['기타 정보 서비스업', 15],
 ['기타 종이 및 판지 제품 제조업', 3],
 ['기타 화학제품 제조업', 78],
 ['나무제품 제조업', 3],
 ['낙농제품 및 식용빙과류 제조업', 5],
 ['내화, 비내화 요업제품 제조업', 6],
 ['담배 제조업', 1],
 ['도로 화물 운송업', 8],
 ['도축, 육류 가공 및 저장 처리업', 6],
 ['동물용 사료 및 조제식품 제조업', 9],
 ['무기 및 총포탄 제조업', 2],
 ['무점포 소매업', 8],
 ['반도체 제조업', 55],
 ['방적 및 가공사 제조업', 3],
 ['보험 및 연금관련 서비스업', 1],
 ['보험업', 12],
 ['봉제의복 제조업', 29],
 ['부동산 임대 및 공급업', 9],
 ['비료, 농약 및 살균, 살충제 제조업', 7],
 ['비알코올음료 및 얼음 제조업', 2],
 ['사업시설 유지·관리 서비스업', 1],
 ['사진장비 및 광학기기 제조업', 12],
 ['산업용 기계 및 장비 임대업', 2],
 ['산업용 농·축산물 및 동·식물 도매업', 2],
 ['상품 종합 도매업', 13],
 ['상품 중개업', 9],
 ['생활용품 도매업', 19],
 ['서적, 잡지 및 기타 인쇄물 출판업', 9],
 ['석유 정제품 제조업', 7],
 ['석탄 광업', 2],
 ['선박 및 보트 건조업', 13],
 ['섬유, 의복, 신발 및 가죽제품 소매업', 9],
 ['섬유제품 염색, 정리 및 마무리 가공업', 1],
 ['소프트웨어 개발 및 공급업', 126],
 ['수산물 가공 및 저장 처리업', 5],
 ['스포츠 서비스업', 3],
 ['시멘트, 석회, 플라스터 및 그 제품 제조업', 17],
 ['신발 및 신발 부분품 제조업', 1],
 ['신탁업 및 집합투자업', 18],
 ['실내건축 및 건축마무리 공사업', 3],
 ['악기 제조업', 1],
 ['알코올음료 제조업', 8],
 ['어로 어업', 4],
 ['여행사 및 기타 여행보조 서비스업', 7],
 ['연료 소매업', 2],
 ['연료용 가스 제조 및 배관공급업', 9],
 ['영상 및 음향기기 제조업', 17],
 ['영화, 비디오물, 방송프로그램 제작 및 배급업', 28],
 ['오디오물 출판 및 원판 녹음업', 4],
 ['운동 및 경기용구 제조업', 1],
 ['운송장비 임대업', 7],
 ['유리 및 유리제품 제조업', 6],
 ['유원지 및 기타 오락관련 서비스업', 5],
 ['육상 여객 운송업', 3],
 ['은행 및 저축기관', 3],
 ['음·식료품 및 담배 도매업', 9],
 ['음식점업', 2],
 ['의료용 기기 제조업', 43],
 ['의료용품 및 기타 의약 관련제품 제조업', 22],
 ['의약품 제조업', 87],
 ['인쇄 및 인쇄관련 산업', 2],
 ['인형,장난감 및 오락용품 제조업', 1],
 ['일반 교습 학원', 7],
 ['일반 목적용 기계 제조업', 42],
 ['일반 및 생활 숙박시설 운영업', 1],
 ['일차전지 및 축전지 제조업', 10],
 ['자동차 부품 및 내장품 판매업', 4],
 ['자동차 신품 부품 제조업', 94],
 ['자동차 재제조 부품 제조업', 1],
 ['자동차 판매업', 2],
 ['자동차용 엔진 및 자동차 제조업', 5],
 ['자료처리, 호스팅, 포털 및 기타 인터넷 정보매개 서비스업', 16],
 ['자연과학 및 공학 연구개발업', 43],
 ['작물 재배업', 2],
 ['재 보험업', 1],
 ['전구 및 조명장치 제조업', 7],
 ['전기 및 통신 공사업', 6],
 ['전기 통신업', 12],
 ['전기업', 1],
 ['전동기, 발전기 및 전기 변환 · 공급 · 제어 장치 제조업', 31],
 ['전문디자인업', 2],
 ['전자부품 제조업', 113],
 ['절연선 및 케이블 제조업', 6],
 ['제재 및 목재 가공업', 1],
 ['종합 소매업', 14],
 ['증기, 냉·온수 및 공기조절 공급업', 1],
 ['직물직조 및 직물제품 제조업', 5],
 ['창작 및 예술관련 서비스업', 4],
 ['철도장비 제조업', 1],
 ['초등 교육기관', 2],
 ['측정, 시험, 항해, 제어 및 기타 정밀기기 제조업; 광학기기 제외', 24],
 ['컴퓨터 및 주변장치 제조업', 10],
 ['컴퓨터 및 통신장비 수리업', 1],
 ['컴퓨터 프로그래밍, 시스템 통합 및 관리업', 36],
 ['텔레비전 방송업', 12],
 ['토목 건설업', 19],
 ['통신 및 방송 장비 제조업', 75],
 ['특수 목적용 기계 제조업', 130],
 ['펄프, 종이 및 판지 제조업', 13],
 ['편조원단 제조업', 2],
 ['편조의복 제조업', 1],
 ['폐기물 처리업', 5],
 ['플라스틱제품 제조업', 42],
 ['합성고무 및 플라스틱 물질 제조업', 7],
 ['항공 여객 운송업', 7],
 ['항공기,우주선 및 부품 제조업', 6],
 ['해상 운송업', 5],
 ['해체, 선별 및 원료 재생업', 1],
 ['화학섬유 제조업', 9],
 ['환경 정화 및 복원업', 1],
 ['회사 본부 및 경영 컨설팅 서비스업', 12]]

In [58]:
stock_df = pd.read_csv('일별시세.csv', encoding='euc-kr')
stock_df.code = stock_df.code.map('{:06d}'.format)

In [59]:
stock_df.head()

,name,code,date,closing_price,open_price,high_price,low_price,volume
0,GS글로벌,001250,2019-05-22,"2,630","2,650","2,660","2,595","390,300"
1,GS글로벌,001250,2019-05-21,"2,645","2,625","2,685","2,615","375,080"
2,GS글로벌,001250,2019-05-20,"2,655","2,755","2,785","2,635","447,674"
3,GS글로벌,001250,2019-05-17,"2,750","2,800","2,845","2,750","275,411"
4,GS글로벌,001250,2019-05-16,"2,785","2,845","2,855","2,770","302,705"

In [60]:
stock_df.insert(loc=2, column='type', value=pd.merge(stock_df, code_df, how='left', on=['name','code']).type, allow_duplicates=True)

In [62]:
stock_df.head()

,name,code,type,date,closing_price,open_price,high_price,low_price,volume
0,GS글로벌,001250,상품 종합 도매업,2019-05-22,"2,630","2,650","2,660","2,595","390,300"
1,GS글로벌,001250,상품 종합 도매업,2019-05-21,"2,645","2,625","2,685","2,615","375,080"
2,GS글로벌,001250,상품 종합 도매업,2019-05-20,"2,655","2,755","2,785","2,635","447,674"
3,GS글로벌,001250,상품 종합 도매업,2019-05-17,"2,750","2,800","2,845","2,750","275,411"
4,GS글로벌,001250,상품 종합 도매업,2019-05-16,"2,785","2,845","2,855","2,770","302,705"